<footer class="navbar justify-content-around bg-body-tertiary fixed-bottom">
		<a href="./search.html">
			<span class="material-symbols-rounded md-48">search</span>
			Search
		</a>
		<a href="./addToDataBase.html">
			<span class="material-symbols-rounded md-48">add</span>
			Contribute item
		</a>
		<a href="./profile.html">
			<img class="profilePic" src="" >
			Profile
		</a>
</footer>

<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
<script src="./scripts/firebaseAPI_BBY07.js"></script>
<script src="./scripts/footer.js"></script>