<nav class="navbar bg-light">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand">Waste Sorting</a>
        <form class="d-flex search-bar" action="/search.html">
            <input id="search-bar-input" class="form-control me-2" type="search" name="search" placeholder="Search for an item..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Search 
                <span class="material-symbols-rounded" style="margin-left:1vh">
                search
                </span>
            </button>
        </form>
    </div>
</nav>

<script src="../scripts/nav_with_search.js"></script>