<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5> -->
    <!-- <div id="sidebar-profile-pic"> -->
      <!-- <span class="material-symbols-rounded">
        account_circle
      </span> -->
      
    <!-- </div> -->
    <div id="sidebar-header">
      <button id="sidebar-close" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <div id="sidebar-profile">
        <img id="sidebar-profile-pic-svg" src="./images/material-icon-account.svg" alt="profile-pic" onclick="goToProfile()"/>
        <a role="button" href="/" id="sidebar-profile-logout-button" class="btn">
          <p id="sidebar-profile-login-button-text">
            Logout
          </p>
          <span class="material-symbols-rounded">
            logout
          </span>
        </a>
      </div>
      <hr class="divider"/>
    </div>
  </div>
  <div class="offcanvas-body">
    <a role="button" href="../search.html" class="btn sidebar-button">
      <span class="material-symbols-rounded">
        home
      </span>
      <p>Home</p>
    </a>
    <a role="button" href="/maps" class="btn sidebar-button">
      <span class="material-symbols-rounded">
        map
      </span>
      <p>Maps</p>
    </a>
    <a role="button" href="/catalog.html" class="btn sidebar-button">
      <span class="material-symbols-rounded">
        menu_book
      </span>
      <p>Catalog of items</p>
    </a>
    <a role="button" href="/tips-n-tricks" class="btn sidebar-button">
      <span class="material-symbols-rounded">
        help
      </span>
      <p>Tips and Tricks</p>
    </a>
  </div>
</div>
<script src="../scripts/script.js"></script>