

div.detail-content {
  overflow: auto;
  margin: 2vw;
  /* padding: 2vw; */
  background-color: white;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2vh;
}

div.aligned {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button.back-button {
  margin: 1vw;
  padding: 1vw;
  border-radius: 50%;
  background-color: #e5e5e5;
}
button.back-button span {
  vertical-align: bottom;
}

h2.detail-name {
  margin: 2vw;
  font-weight: 700;
  font-size: 1.8rem;
  /* width: unset; */
}

span.DeleteButton {
  padding: 1vw;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2vw;
  top: 3vw;
  background-color: #ff0000;
  
  border-radius: 1vw;
}

span.goToProfileButton {
  padding: 0.5vw; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2vw;
  top: 3vw;
  background-color: rgb(89, 0, 255);
  width: 80px; 
  height: 50px;
  white-space: normal; 
  text-align: center; 
  border-radius: 1vw;
  line-height: 0.8;
}


img.detail-image {
  max-height: 400px;
  max-width: 100%;
  /* align-self: center; */
  object-fit: contain;
  background-color: #e5e5e5;
}

p.detail-description {
  margin: 2vh 2vw 0 2vw;
}

p.detail-likes-row {
  margin: 2vh 2vw 0 2vw;
  display: flex;
  align-items: center;
}
p.detail-likes-row span.like-icon {
  cursor: pointer;
  margin-left: 8px;
}
p.detail-likes-row span.dislike-icon {
  cursor: pointer;
}
p.detail-likes-row #likesInput {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 8px;
}

div.item-detail-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4vw;
}
div.item-detail-bin span.arrow {
  font-size: 2rem;
}
div.item-detail-bin span.bin {
  font-size: 4rem;
}