

div.detail-content {
  overflow: auto;
  margin: 2vw;
  /* padding: 2vw; */
  background-color: white;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.aligned {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button.back-button {
  margin: 1vw;
  padding: 1vw;
  border-radius: 50%;
  background-color: #e5e5e5;
}
button.back-button span {
  vertical-align: bottom;
}

h2.detail-name {
  margin: 2vw;
  font-weight: 700;
  font-size: 1.8rem;
  /* width: unset; */
}

span.DeleteButton {
  padding: 1vw;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2vw;
  top: 3vw;
  background-color: #ff0000;
  
  border-radius: 1vw;
}

button.goToProfileButton {
  align-self: flex-start;
  margin: 2vw;
  padding: 0.5vw 2vw; 
  /* display: flex; */
  /* justify-content: center;  */
  /* align-items: center;  */
  /* flex-direction: column; */
  /* font-size: 0.8rem; */
  font-weight: 600;
  /* color: white; */
  /* position: absolute; */
  /* right: 2vw; */
  /* top: 2vw; */
  /* background-color: rgb(89, 0, 255); */
  /* width: 80px;  */
  /* height: 50px; */
  /* white-space: normal;  */
  /* text-align: center;  */
  /* border-radius: 1vw; */
  /* line-height: 0.8; */
}


img.detail-image {
  max-height: 40vh;
  max-width: 100%;
  /* align-self: center; */
  object-fit: contain;
  background-color: #e5e5e5;
}

p.detail-description {
  margin: 2vh 2vw 0 2vw;
}

.detail-likes-row {
  margin: 2vh 2vw 0 2vw;
  display: flex;
  align-items: center;
}
.detail-likes-row p {
  margin: 0;
}
.detail-likes-row span.like-icon {
  cursor: pointer;
  margin-left: 8px;
}
.detail-likes-row span.dislike-icon {
  cursor: pointer;
}
.detail-likes-row #likesInput {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 8px;
}

div.item-detail-bin {
  margin: 2vh;
}
div.item-detail-bin-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4vw;
}
div.item-detail-bin-row span.arrow {
  font-size: 2rem;
}
div.item-detail-bin-row span.bin {
  font-size: 4rem;
}
p.item-detail-bin-name {
  margin: 0px;
  font-weight: 500;
  text-align: center;
}