div.container {
  margin-top: 2vh;
}
div.trophy-case {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
div.trophy {
  margin: 1vh auto;
  height: 64px;
  width: 64px;
}
div.trophy img {
  filter: grayscale(1);
  opacity: 0.2;
}
p.trophy-name{
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
#items-go-here {
  margin: 0vh;
}
div.userPost {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}