.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    height: 100vh;
}
.bg-body-tertiary {
    /* background-color: transparent !important; */
    background-color: white !important;
}
.navbar-toggler {
    border: none;
    background-color: transparent;
}

button.home-button {
    width: 100%;
    height: calc(50% - 28px);
    margin: 0;
    /* padding: 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button.home-button:nth-of-type(2) {
    background-color: #EEEEEE;
}
button.home-button > img.home-button-icon {
    /* width: 40%; */
    height: 30%;
}
button.home-button > p.home-button-text {
    color: #838383;
    font-size: 1.5em;
}
img.or {
    position: absolute;
    translate: -50% -50%;
    margin: 0% 50%;
}

#offcanvas {
    width: 400px;
}
#sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#sidebar-close {
    align-self: flex-end;
    margin: 1vh;
}
#sidebar-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sidebar-profile-pic-svg {
    width: -webkit-fill-available;
    margin: 0 30%;
    margin-bottom: 0;
}
#sidebar-profile-login-button {
    display: flex;
    align-items: center;
    margin: unset;
}
#sidebar-profile-login-button-text {
    margin:unset;
    font-size: 0.8em;
    font-weight: 500;
}
hr.divider {
    width: 100%;
    /* margin: 2vh 4vw; */
}
a.sidebar-button {
    width: 100%;
    /* margin: 0; */
    padding: 1vh 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
a.sidebar-button > span {
    font-size: 3em;
}
a.sidebar-button > p {
    margin: 0;
    margin-left: 2%;
    font-weight: 500;
    /* font-size: 1em; */
}

.card-body {
    display: flex; /* This will make your card body a flex container */
}

.image-container {
    flex-shrink: 0; /* Prevents the image container from shrinking */
    width: 200px; /* Set your preferred fixed width */
    height: 200px; /* Set your preferred fixed height */
}

.image-container img {
    width: 100%; /* This will make your image fill the container */
    height: 100%;
    object-fit: cover; /* This will cover the area, use 'contain' if you don't want cropping */
}

.description-container {
    padding-left: 15px; /* Adds some spacing between the image and the text */
    display: flex;
    align-items: center; /* This will vertically center your text */
    flex-grow: 1; /* This will make the description take the remaining space */
}

.card-text {
    margin: 0; /* Removes the default paragraph margin */
}

div.search-bar {
    margin: 1vw;
    display: flex;
    align-items: center;
    flex: 1;
}
div.search-bar form {
    margin-right: 1vw;
    width: 100%;
}

button.item-list-button {
    width: 100%;
    height: 100px;
    padding: 0;
}

div.item-card {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

div.item-card-color-band {
    width: 3vw;
    margin-right: 2vw;
    height: 100%;
    background-color: grey;
}

div.item-card-likes {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin-right: 2vw;
}
div.item-card-likes-gap {
    height: 8px;
}

div.item-card-name {
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
}

img.item-card-image {
    width: 150px;
    height: 100px;
    object-fit: contain;
}


.btnRed {
    background-color: red !important;
  }
